WSClienteMQC/src/conf/xml-resources/web-service-references/AlumnoWebService_4/wsdl/localhost_8088/WSJavaMQC/AlumnoWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://WebService.Examen/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService.Examen/">

<xs:element name="crearAlumno" type="tns:crearAlumno" />

<xs:element name="crearAlumnoResponse" type="tns:crearAlumnoResponse" />

<xs:element name="listarAlumno" type="tns:listarAlumno" />

<xs:element name="listarAlumnoResponse" type="tns:listarAlumnoResponse" />

<xs:complexType name="crearAlumno">
<xs:sequence>
<xs:element name="nomAlumno" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearAlumnoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="listarAlumno">
<xs:sequence />
</xs:complexType>

<xs:complexType name="listarAlumnoResponse">
<xs:sequence>
<xs:element name="return" type="tns:alumno" minOccurs="0" maxOccurs="unbounded" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="alumno">
<xs:sequence>
<xs:element name="apellidoAlumno" type="xs:string" minOccurs="0" />
<xs:element name="fechanacAlumno" type="xs:string" minOccurs="0" />
<xs:element name="idAlumno" type="xs:int" />
<xs:element name="nombreAlumno" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>